{% extends 'test_cases/base.html' %}

{% block content %}
<script type="text/javascript">
  function  getModule(e){
    var mod = e.innerHTML
    $.ajax({
            url: "{% url 'myapp:browse' %}",
              type: "POST",
              data: { 'module': 'module'},
              dataType: 'json',
              csrfmiddlewaretoken: getCookie('csrftoken'),
              success: function(response){
                    //do action
                    alert("Success");

              },
              error: function(){
                    // do action
                    alert("Fail");
              }
          });
  }

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
</script>

<div class="col-md-8">
    
   
<!-- <div class="list-group" style="align-content: center;">
    {% for i in module%}
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne{{i}}">
                        <a href="{% url 'myapp:module' i %}">{{i}}</a>

                    </button>
                            </h5>
          </div>
      
          <div id="collapseOne{{i}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
    </div>
    {%endfor%}
  </div>    
</div>
-->

<div class="list-group" style="align-content: center;">
    <a href="#" class="list-group-item active"><h3>Modules</h3></a>
    {% for i in module%}
        <a href="{% url 'myapp:module' i %}" class="list-group-item module">{{i}}</a>
    {%endfor%}
</div>

{% endblock %}
