{% extends 'test_cases/base.html' %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/g/filesaver.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/4.0.11/js/tableexport.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/4.0.11/css/tableexport.min.css">
<script>
  function export_excel(){
    $("table").tableExport({
				headings: true,                    // (Boolean), display table headings (th/td elements) in the <thead>
				footers: true,                     // (Boolean), display table footers (th/td elements) in the <tfoot>
				formats: ["xls","csv"],    // (String[]), filetypes for the export
				fileName: "id",                    // (id, String), filename for the downloaded file
				bootstrap: true,                   // (Boolean), style buttons using bootstrap
				position: "well" ,                // (top, bottom), position of the caption element relative to table
				ignoreRows: null,                  // (Number, Number[]), row indices to exclude from the exported file
				ignoreCols: null,                 // (Number, Number[]), column indices to exclude from the exported file
				ignoreCSS: ".tableexport-ignore"   // (selector, selector[]), selector(s) to exclude from the exported file
			});
  }
  function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML =tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
</script>


<div class="row">
   
  <div class="col-xs-9">
                      
    <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{category}}</h3>
    
        <div class="card-body">
          
          
          <div id="table" class="table-editable">
              <table class="table table-bordered table-responsive-md table-striped text-center sortable" id="table" >
                        <thead>
                          <tr>
                            <th class="text-center">Scenario</th>
                            <th class="text-center">Last Modified</th>
                            <th class="text-center">Tester</th>
                            <th class="text-center">Module</th>
                            <th class="text-center">Kainos Automation</th>
                            <th class="text-center">Pass/Fail</th>
                          </tr>
                        </thead>
                    {% for row in records%}
                    <tbody>
                    <tr id="row">
                      <td class="pt-3-half" contenteditable="false" id="scenario{{ forloop.counter }}">{{row.scenario}}</td>
                        <td class="pt-3-half" contenteditable="false" id="last_modified{{ forloop.counter }}">{{row.last_modified}}</td>
                        <td class="pt-3-half" contenteditable="false" id="name{{ forloop.counter }}">{{row.name}}</td>
                        <td class="pt-3-half" contenteditable="false" id="last_modified{{ forloop.counter }}">{{row.module}}</td>
                        <td class="pt-3-half" contenteditable="false" id="kainos_id{{ forloop.counter }}">{{row.kainos_id}}</td>
                        <td class="pt-3-half" contenteditable="false" id="last_modified{{ forloop.counter }}">{{row.result}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <div class = "container-fluid">
                      <table class="table table-bordered table-responsive-md table-striped text-center sortable" id="table" >
                        <thead>
                          <tr>
                            <th class="text-center">Total Number of Scenarios</th>
                            <th class="text-center">Total Pass</th>
                            <th class="text-center">Total Fail</th>
                            <th class="text-center">Percentage complete</th>
                            
                        </tr>
                        </thead>
                        <tr id="row">
                                <td class="pt-3-half" contenteditable="false" id="name{{ forloop.counter }}">{{count}}</td>
                                <td class="pt-3-half" contenteditable="false" id="last_modified{{ forloop.counter }}">{{pass}}</td>
                                <td class="pt-3-half" contenteditable="false" id="kainos_id{{ forloop.counter }}">{{fail}}</td>
                                <td class="pt-3-half" contenteditable="false" id="last_modified{{ forloop.counter }}">{{percent}}</td>
                        </tr>
                  </table>
                    </div>
                </table>
          </div>
                        <div class="form-group" style="text-align: center;">
                            <button type="button" style="margin-right: 500px;" class="btn btn-primary space-margin">
                              <a href="{% url 'myapp:edit_category' module=module category=category %}" style="color: aliceblue;"><span class="glyphicon glyphicon-pencil"></span> Edit </a>
                            </button>

                            <button href="#" class="btn btn-warning" data-toggle="modal" data-target="#exportModal">
                              <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export</button> 
                          </div>
                          <div class='container-fluid' >
                
                            <!-- Modal -->
                            <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Export</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Click to download the report
                                  </div>
                                  <div class="modal-footer">
                                      <button style="margin-bottom: 0px;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <a href="#" class="btn btn-primary" onclick="exportTableToExcel('table')">
                                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> Download</a>
                                        
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>     
                    
              
          </div>
        </div>
      </div>
      
      </div>
</div>

{% endblock %}


