{% extends 'test_cases/base.html' %}

{% block content %}
<div class="col-xs-9">
                        
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Test Scripts Tracking</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        
          <tbody>
            <table class="table table-bordered table-responsive-md table-striped text-center sortable" id="table" >
                    <thead>
                      <tr>
                        <th class="text-center">Scenario</th>
                        <th class="text-center">Last Modified</th>
                        <th class="text-center">Tester</th>
                        <th class="text-center">Module</th>
                        <th class="text-center">Kainos Automation</th>
                        <th class="text-center">Pass/Fail</th>
                      </tr>
                    </thead>
                {% for row in records%}

                <tr id="row">
                  <td class="pt-3-half" contenteditable="false" id="scenario{{ forloop.counter }}">{{row.scenario}}</td>
                    <td class="pt-3-half" contenteditable="false" id="last_modified{{ forloop.counter }}">{{row.last_modified}}</td>
                    <td class="pt-3-half" contenteditable="false" id="name{{ forloop.counter }}">{{row.name}}</td>
                    <td class="pt-3-half" contenteditable="false" id="last_modified{{ forloop.counter }}">{{row.module}}</td>
                    <td class="pt-3-half" contenteditable="true" id="kainos_id{{ forloop.counter }}"><input type="text" name="kainos_id{{forloop.counter}}" value="{{row.kainos_id}}" readonly></td>
                    <td class="pt-3-half" contenteditable="false" id="last_modified{{ forloop.counter }}">{{row.result}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
                    <div class="form-group" style="text-align: center;">
                        <button class="btn btn-primary" type="submit" value="Upload" id="submit">Submit</button>
                        <button type="button" style="margin-right: 500px;" class="btn btn-primary">
                          <a href="{% url 'myapp:edit' module %}" style="color: aliceblue;"><span class="glyphicon glyphicon-pencil"></span> Edit </a>
                        </button>
                        
                      </div>
                      
                
          
      </div>
    </div>
  </div>
  </div>
{% endblock %}

