<html>
    <head>
        <title>
            Test Scripts Tracking
        </title>
        <header>
            <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        </header>
        <style>
            html {
              width: 100%;
              height: 100%;
            }
           </style> 
    </head>
    <script>
         $(function(){

$(".dropdown-menu li a").click(function(){

  $(".btn:first-child").text($(this).text());
  $(".btn:first-child").val($(this).text());

});

});
    </script>
    <body >
        <!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Test Scripts Tracking</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
              class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Scenario</th>
              <th class="text-center">Last Modified</th>
              <th class="text-center">Tester</th>
              <th class="text-center">Kainos Automation</th>
              <th class="text-center">Pass/Fail</th>
            </tr>
          </thead>
          <tbody>
            <form action="{% url myapp:submit %}" method="POST">
                {% for row in sheet%}

                <tr>
                    <td class="pt-3-half" contenteditable="true">{{row.scenario}}</td>
                    <td class="pt-3-half" contenteditable="true">{{row.last_modified}}</td>
                    <td class="pt-3-half" contenteditable="true">{{row.name}}</td>
                    <td class="pt-3-half" contenteditable="true">{row.kainos_id</td>
                    <td>
                      <span class="table-remove">
                          <div class="btn-group">
                              <button class="btn">Please Select From List</button>
                              <button class="btn dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                 <li><a tabindex="-1" href="#">Item I</a></li>
                                 <li><a tabindex="-1" href="#">Item II</a></li>
                                 <li><a tabindex="-1" href="#">Item III</a></li>
                                 <li class="divider"></li>
                                 <li><a tabindex="-1" href="#">Other</a></li>
                              </ul>
                          </div>
                      </span>
                    </td>
                  </tr>
                  {% endfor %}

            </form>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->
</html>
