<html>
    <head>
        <title>
            Test Scripts Tracking
        </title>
        <header>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <!--<script type="text/javascript" src="assets/JS/renderData.js"></script>-->
          </header>
        <style>
            html {
              width: 100%;
              height: 100%;
            }
           </style>         
    </head>
    <script type="text/javascript">
   /*var data ={}
for(i=1;i<=len;i++)
{
  al
    var temp =
    {
         kainos_id:$("#kainos_id"+i).val(),
         name:$("#name"+i).val(),
         result:$("#result"+i).val(),
         scenario:$("#scenario"+i).val()
    };
    data.append(temp);
}
alert(data);}



$(document).ready(function(){
    $("select.result").change(function(){
        var selectedCountry = $(this).children("option:selected").val();
        var kainos_id = 'ROTP.0001'
           $.ajax(
           {
            type:"POST",
               url: "{% url 'myapp:track' %}",
               data:{
                        kainos_id: kainos_id,
                        result : selectedCountry,
                        csrfmiddlewaretoken: getCookie('csrftoken') // No traling comma

               },
               
               success: function(data) {
                 alert("Success")
              },
              error: function(data){
        alert("fail");
    }
            })
        //alert("You have selected the country - " + selectedCountry);
    });
});
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
*/
    </script>
    <body>
        <!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Test Scripts Tracking</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
              class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
        
          <tbody>
            <form action="{% url 'myapp:track' %}" method="post" id="trackForm">
                {% csrf_token %}
                <table class="table table-bordered table-responsive-md table-striped text-center" id="table">
                    <thead>
                      <tr>
                        <th class="text-center">Scenario</th>
                        <th class="text-center">Last Modified</th>
                        <th class="text-center">Tester</th>
                        <th class="text-center">Module</th>
                        <th class="text-center">Kainos Automation</th>
                        <th class="text-center">Pass/Fail</th>
                      </tr>
                    </thead>
                {% for row in sheet%}

                <tr id="row">
                  <td class="pt-3-half" contenteditable="false" id="scenario{{ forloop.counter }}">{{row.scenario}}</td>
                    <td class="pt-3-half" contenteditable="false" id="last_modified{{ forloop.counter }}">{{row.last_modified}}</td>
                    <td class="pt-3-half" contenteditable="false" id="name{{ forloop.counter }}">{{row.name}}</td>
                    <td class="pt-3-half" contenteditable="false" id="last_modified{{ forloop.counter }}">{{row.module}}</td>
                    
                    <td class="pt-3-half" contenteditable="true" id="kainos_id{{ forloop.counter }}"><input type="text" name="kainos_id{{forloop.counter}}" value="{{row.kainos_id}}" readonly></td>
                    <td>
                      <div class="btn-group">
                              <select class ="result" name="result{{ forloop.counter }}" value="result" id="result{{ forloop.counter }}">
                                {% for i in choices %}
                                <option id="option-{{i}}" value="{{ i }}" data-catid="{{ i }}-{{ forloop.counter }}">{{ i }}</option>
                                {% endfor %}
                              </select>
                          </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
                    <div class="form-group" style="align-self: center;margin-left: 700px;">
                        <button class="btn btn-primary" type="submit" value="Upload" id="submit">Submit</button>
                      </div>
                
            </form>
            
          
      </div>
    </div>
  </div>
  </body>
  <!-- Editable table -->
</html>
